.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.role-switch {
    margin-bottom: 20px;
}

.admin-login,
.guest-login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 30vh;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 10px;
}

.login-form {
    display: inline-grid;
    gap: 15px;
}