.app-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 200px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.count-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
}

.cart h2 {
    margin-bottom: 10px;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.cart-item img {
    max-width: 50px;
    height: auto;
}

.item-info {
    flex-grow: 1;
}

.item-count {
    display: flex;
    gap: 5px;
    align-items: center;
}

.delete-button {
    background-color: #ff5252;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.checkout-button {
    margin-top: 20px;
    text-align: center;
}

.checkout-button button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}